
body{
    background-color:#fff ;
    font-family: "Lexend", sans-serif;
}
.outer-container{
    text-align: center;
}
.container{
    margin-top: 120px;
    display: inline-block;
    vertical-align: middle; 
}

.profile-container{
    background-color:#dafffb;
    height: 540px;
    padding: 25px 25px;
    border-radius: 30px;
    font-size: 2em;
    text-align: center;
    margin-right: 5px;
    color: #176B87 ;
    width: 500px;
}
.profile-container:hover{
    border-bottom: 8px solid  #04364A;
}
.info-container{
    margin-left: 10px;
    background-color:#dafffb;
    padding: 25px 25px;
    height: 540px;
    border-radius: 30px;
    font-size: 1.5em;
    text-align: center;
    color: #176B87 ;
    width: 500px;
}
.info-container:hover{
    border-bottom: 8px solid  #04364A;
}

.info-container p{
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.5em;
    
}
.info-container label{
   font-weight: bold;
}

.profile-container p{
    font-weight: bold;
    margin-bottom: 20px;
}
.profile-container img{
    height: 150px;
    width: 150px;
    border-radius: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button{
    --font-color: #176B87;
    --bg-color: #b0d8f0;
    --main-color: #04364A;
    width: 60px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
button:hover{
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
}

.info-container input{
    color:   #176B87;
    border-color:2px  #176B87;
    border-radius: 30px;
    text-align: center;
    padding: 10px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background:#dafffb;
    font-size: 0.8em;
}
input:disabled{
    background:#d0e1df;
}

