nav{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.25);
    width: 99%;
    height: 55px;
    border-radius: 13px;
    background-color: white;
    margin-left: 10px;
    margin-bottom: 10px;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    color: black;
    transition: 0.3s ease-in-out;
    font-size: 1.1rem;
    font-weight: 600;
}
#navbar li a:hover,
#navbar li a.active{
    color:#176B87;
}
a{
    text-decoration: none;
}
#moveToRight{
    margin-left: 20px;
    color: black;
}
.userimg{
    height: 45px;
    width: 50px; 
    margin-right: 10px;
    margin-left: 2px;
}

nav .navMenu{
    display:none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
    margin-top: 8px;
}

nav .navMenu span{
    height: 0.4rem;
    width: 100%;
    background-color: black;
    border-radius: 0.2rem;
}

nav ul#navbar.open{
    display: flex;
}

@media (max-width:850px) {
    nav .navMenu{
        display:flex;
    }

    nav{
        flex-direction: column;
        align-items: start;
    }

    nav a{
        margin-top: 8px;
        flex-direction: column;
        align-items: center;
    }

    nav ul#navbar {
        display:none;
        background-color: white;
        flex-direction: column;
        margin-bottom: 0.25rem;
        width: 92%;
        margin-left:20px;
        border-radius: 10px;
        position:absolute;
        margin-top: 5px;
        padding: 200px;
        z-index: 3;
        padding-top: 40px;
    }

    nav ul li{
        margin-left:auto;
        width: 100%;
        font-size: 20px;
        margin:30px;
    }

}
