::-webkit-scrollbar{
    width: 0;
}

::-webkit-scrollbar-track{
    background:transparent;
}

::-webkit-scrollbar-thumb{
    background: hsl(211, 69%, 58%);
    border: .15em solid hsl(211, 98%, 82%); ;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover{
    background: hsl(211, 69%, 38%);
}