.location_image{
    height: 550px;
    width: 100%;
    margin-left: 0px;
    position: absolute; 
    overflow: hidden;
    object-fit: cover;
    filter: brightness(.6);
    bottom: 70px;
}

.location_detail{
    margin-top: 100px;
    z-index: 1;
    font-size: 40px;
    margin-left: 200px;
    margin-right: 200px;
    color: white;
    background-color: rgba(255, 255, 255, 0.208);
    margin-bottom: 30px;
    border-radius: 20px;
    height: 40vh;
}

.location_detail {
    color: white;
    margin-top: 20px;
    margin-top: 100px;
}

.location_detail h3{
    color: white;
}

.description{
    font-size: 20px;
}

.location_information{
    display: flex;
    position: relative;
    overflow: hidden;
    height: 69vh;
}

.location_Des{
    margin-top: 20px;
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 90px;
}

.location_Des h3{
    color: white;
}

.location_destinations{
    background-color:rgba(207, 232, 242, 0.85);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* Adjust the minimum and maximum width as needed */
    grid-gap: 10px;
    justify-content: center; /* Center items horizontally */
    height: auto;
    padding-bottom: 50px;
}

.popular_destination{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-top: 40px;
    height: 280px;
    box-shadow: 0 5px 10px 2px rgba(0,0,0,0.4);
    transition: 0.25s ease-in-out;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
}

.locationContainer{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-top: 40px;
    height: 280px;
    box-shadow: 0 5px 10px 2px rgba(0,0,0,0.4);
    transition: 0.25s ease-in-out;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
}

.locationContainer p{
    font-weight: 300;
}


.destination_image{
    height: 200px;
    width: 300px;
    z-index: 1;
    position: absolute; 
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    object-fit: cover;
}

.popular_destination:hover, .locationContainer:hover{
    transform:scale(1.1)
}

.text_dest{
    z-index: 1;
    font-size: 18px;
    margin-left: 15px;
    color: black;
    margin-top:235px;
}

.indicators{
    background-color: rgb(241, 246, 254);
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust the minimum and maximum width as needed */
    grid-gap: 20px;
    justify-content: center;
}

.hotels{
    background-color: rgb(241, 246, 254);
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* Adjust the minimum and maximum width as needed */
    grid-gap: 100px;
    justify-content: center; /* Center items horizontally */
    height: auto;
    padding-bottom: 50px;
}

.indicators h1{
    color: black;
}

.indicator-container{
    margin-bottom: 50px;
    border-radius: 15px;
    background-color: rgb(187, 211, 251, 0.85);
    border: 1px solid #ccc;
    padding: 20px;
    min-height: 160px;
    margin: 20px 20px 20px 20px;
}

.indicator-container p span{
    position: relative;
}


.indicator-scale{
    width: 160px;
    height: 160px;
    position: relative;
    margin: 0 auto; /* Center the indicator container */
}

.scales h1{
    color: black;
}

.title{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding: 20px;
}

.destination-heading{
    margin-top:80px;
    font-size:35px; 
    font-weight: 400;
}
.checked{
    color:orange;
}

.weather-type{
    margin-top: 30px;
    font-weight: 600;
}

.weatherdata{
    font-size: 25px;
    color: rgb(30, 158, 221);
}



#number{
    position: absolute;
    font-weight: 600;
    color: #555;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.cost circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 15px;
    stroke-dasharray: 472;
    stroke-dashoffset: 0;
}


.weather circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 15px;
    stroke-dasharray: 472;
    stroke-dashoffset: 0;
}

svg{
    position: relative;
    top: 0;
    width: 100%;
    margin: 0 auto; /* Center the SVG */
}

.city-type{
    margin-top: 30px;
}


@media (max-width:480px) {
    .location_image{
        object-fit: cover;
        height: 140vh;
        bottom: 20px;
    }

    .location_detail{
        text-align: center;
        padding: 20px;
        margin: 160px 20px 250px 20px;
        height: 70vh;
    }

    .destination-heading{
        font-size: 25px;
    }

    .scales h1{
        font-size: 25px;
    }

    .location_destinations{
        height: 200vh;
    }

    .location_information{
        height: 100vh;
    }
    .location_detail h3{
        font-size: 25px;
        color: white;
    }
}
