.location_image{
    height: 600px;
    width: 1450px;
    border-radius: 20px;
    position: absolute;
    margin-left: 42px;
    overflow: hidden;
    transform: scale(1)
}

.text_location{
    margin-top: 20px;
    z-index: 1;
    margin-left: 50px;
}

.image_section{
    display: flex;
    overflow: hidden;
}

