.Kandy-page{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #176B87;
    padding-bottom: 200px;
    padding-top: 28vh;
    position: relative;
    overflow: hidden;
    min-height: 50vh;
    width: 100%;
}

.Kandy-image{
}

.Kandy-text{
    position: relative;
    color: #DAFFFB;
    flex-direction: column;
    font-size: 35px;
    padding-top: 30px;
}

