.mainContainer{
    background-color: #176B87;
    margin-top: 10px;
    height: 645px;
    width: 1495px;
    margin-left:20px ;
    border-radius: 10px;
}

.container{
    
}

.leftContainer{
    border-radius: 10px;
    background-color: #04364A;
    height: 500px;
    width: 500px;
    margin-left: 20px;
}

.rightContainer{
    border-radius: 10px;
    height: 500px;
    width: 500px;
    background-color: #04364A;
    margin-left: 900px;

}