

.mainContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-left: 80px;
    margin-top: 80px;
    position: absolute;
    border-radius: 20px;
    background: linear-gradient(-45deg, #4ca3be, #bae078, #695db4, #237cd5);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: auto;
}

.leftContainer{
    border-radius: 30px;
    background-color: #ffffff00;
    width: 100%;
    display:flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 150px;
    margin-top: 50px;
}

.rightContainer{
    border-radius: 30px;
    height: 550px;
    width: 550px;
    background-color: #b0d8f0;
    padding-top: 50px;
    margin-bottom: 700px;
}

.location-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.container h2{
    margin-top: 50px;
    padding: 0px;
    color: #176B87;
    margin-bottom:70px;
}

.leftContainer{
    position: relative;
    width: 100%;
    height: 50px;
}

.input-box-search{
    position: relative;
    width: 200%;
    height: 50px;
}

.input-box-search input{
    width: 100%;
    height: 100%;
    background: transparent;
    background: white;
    border: none;
    outline: none;
    border: 2px solid rgba(7, 100, 187, 0.2);
    border-radius: 30px;
    padding: 20px 45px 20px 20px;
    font-size: 13px;
}

.input-box-search input::placeholder{
    color: #176B87;
    font-weight: 600;
}

.leftContainer .search-btn{
  --font-color: #176B87;
  --bg-color: #b0d8f0;
  --main-color: #04364A;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
  width: 40%;
  margin: 150px 60px 0 60px;
}

.leftContainer .search-btn:hover{
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
}
.rightContainer .recommendation-btn{
    padding: 10px;
    --font-color: #176B87;
    --bg-color: #b0d8f0;
    --main-color: #04364A;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
    width: 50%;
    margin-top: 50px
}

.rightContainer .recommendation-btn:hover{
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
}

.input-box-recommendation{
    height:80px;
    width: 80%;
    border: none;
    border-radius: 30px;
    padding: 20px 45px 20px 20px;
    resize: none;
}

.textarea-center{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border: none;
}

.input-box-recommendation::placeholder{
    color: #176B87;
    font-weight: 600;
}

.drop-down{
    display: block;
    background: rgb(245, 245, 245);
    border-radius: 10px;
    min-width: 200px;
    margin-top: 10px;
    cursor: pointer;
    border: 2px solid gray;
}

.location-item{
    border: none;
    transition: 1s all;
}

.location-item h4{
    border: none;
    transition: 1s all;
    color: black;
}

.descriptionKeywords{
    margin-left: 30px;
    align-content: normal;
    align-items: normal;
    text-align:justify;
}

.descriptionKeywords h4{
    color: darkred;
    font-weight: 500;
}

.descriptionKeywords h5{
    color: #000;
    padding:2px;
    margin-left: 20px;
    font-weight: 600;
}

.location-item:hover{
    padding: 20px;
    border: 1px solid #176B87;
    transition: 0.2s ease-in-out;
    border-radius: 10px;
}

.show-desc{
    margin-top: 5px;
    opacity: 1;
    font-size: 12px;
    color: black;
}

.show-desc{
    opacity: 0;
    font-size: 1px;
}


/* Making the css for the generated locations */

.location-cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15%;
}

.location-card{
    width: 600px;
    height:150px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 40px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    position: relative;
    background-color: beige;
}

.location-card:hover{
    transform:scale(1.1)
}
.locationdesc{
    margin: 5px;
    font-weight: 500;
}

.location-card .location-image{
    width: 600px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.location-card h4 {
    font-size:1rem;
    color:black;
    margin-bottom: 5px;
}

.location-card p {
    font-size: 1rem;
    background: linear-gradient(to right, #d22b2b 0%, #330867 80%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}   

@media screen and (max-width: 1000px) {
    .mainContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #176B87;
        min-height: 90vh;
        width: 600px;
        margin: 20px 40px 0px 20px;
        border-radius: 20px;
        margin: 4rem 2rem;
        height: 1300px;
        margin-left:8% ;
        margin-top: 25px;

    }
    .location-container{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 4.5rem;

    }
    .rightContainer{
        border-radius: 30px;
        height: 550px;
        width: 550px;
        background-color: #b0d8f0;
        margin-left: 5px;
        padding-top: 90px;
        margin-top: 100px;
        
    }
    .leftContainer{
        border-radius: 30px;
        height: 550px;
        width: 550px;
        margin-left: 0px;
        display:flex;
        align-items: center;
        flex-direction: column;
    }

    .location-card{
        width: 97%;
        margin-left:5px;
        height: auto;
    }
}

@media (max-width: 800px ) {
    .mainContainer{
        height: 1800px;
    }

    .input-box-search{
        width: 150%;
    }

    .leftContainer{
        margin-top: 100px;
    }

    .location-card{
        width: 90%;
    }
}

@media (max-width:768px) {
    .location-container{
        margin-top: 10px;
    }
    .leftContainer{
        margin-top: 500px;
        height: 300px;
    }
    .mainContainer{
        margin-top: 90px;
    }
    .rightContainer .recommendation-btn{
        margin-top: 10px;
    }
}

@media (max-width:790px) {
    .location-card{
        width: 97%;
        margin-left:5px;
        height: auto;
    }

    .mainContainer{
        padding-top: 100px;
        padding-bottom: 1800px;
        width: 90%;
        margin-left: 38px;
    }

    .input-box-search{
        width: 70%;
    }
}


@media (max-width: 480px) {
    .mainContainer{
        padding-top: 100px;
        padding-bottom: 1900px;
        margin-left: 20px;
        width: 92%;
    }

    .location-container {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
      }
    
    .leftContainer {
        margin-bottom: 10px; /* Add some space between the search bar and recommendation */
        
    }
    
    .rightContainer {
        margin-top: 10px; /* Add some space between the recommendation and location cards */
    }

    .leftContainer{
        border-radius: 30px;
        background-color: #ffffff00;
        width: 100%;
        display:flex;
        align-items: center;
        flex-direction: column;
        padding-top: 950px;
        margin-bottom: 290px;
    }

    .input-box-search{
        width: 90%;
    }

    .rightContainer{
        border-radius: 30px;
        height: 550px;
        width: 95%;
        background-color: #b0d8f0;
        padding-top: 50px;
    }

    .textarea-center textarea{ 
        border: none;
        width: 100%;
    }

    .descriptionKeywords{
        margin-left: 10px;
        margin-right: 10px;
    }

    .input-box-search input{
        width: 100%;
    }

    .location-card{
        width: 97%;
        margin-left:5px;
        height: auto;
    }
}    

@media (max-width: 431px) {
    .mainContainer{
        width: 95%;
        margin-left: 10px;
        height: 150vh;
    }
} 

@media (max-width: 415px) {
    .mainContainer{
        width: 95%;
        margin-left: 10px;
        height: 150vh;
    }
}  

@media (max-width: 391px) {
    .mainContainer{
        width: 95%;
        margin-left: 10px;
    }

    
}    

.location-card h4{
    color: black;
    font-weight: 500;
}

