.mainContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #176B87;
    min-height: 90vh;
    width: 1475px;
    margin: 20px 40px 0px 20px;
    border-radius: 20px;
}
.leftContainer{
    border-radius: 30px;
    background-color: #04364A;
    height: 550px;
    width: 550px;
    margin-left: 10px;
}

.rightContainer{
    border-radius: 30px;
    height: 550px;
    width: 550px;
    background-color: #04364A;
    margin-left: 250px;
}

.container{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.container h2{
    padding: 40px;
    color: white;
}

.locationpage-h2 h2{
    color: white;
}